{% extends "layout.html" %}
{% block Body %}
<h1>Hello world</h1>
<p>
    This website does not utilize javascript for anything except convencience features, 
    like following links faster with Unpoly, so feel free to disable javascript if you 
    are concerned about security.
</p>
<p>
    Unfortunately, cookies have to be enabled for login sessions to work, otherwise the
    site would have to ask for a password every time you visited protected resource,
    which would increase the chance that your password gets intercepted.
</p>
{% endblock %}